* {
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    /* text-overflow: ellipsis; */
}

button:hover,
input[type="submit"]:hover,
td.input:hover {
    cursor: pointer;
}

.main {
    height: 100vh;
    aspect-ratio: 9/16;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    color: rgb(33, 37, 41);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 150%;
}

.main::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: rgb(171, 206, 236);
    margin: 0;
}

.bottomrightcorner {
    position: absolute;
    top: 4%;
    left: -2%;
    transition: .5s;
}

.bottomrightcorner:hover {
    translate: 100%;
    rotate: 180deg;
    scale: 1.2;
}

.bottomposition {
    position: relative;
    top: 50%;
}

.settings {
    color: rgb(13, 110, 253);
    background-color: white;
    border-color: rgb(13, 110, 253);
}

.settings:visited {
    color: rgb(13, 110, 253);
    background-color: white;
    border-color: rgb(13, 110, 253);
}

.settings:hover {
    color: white;
    background-color: rgb(13, 110, 253);
}

a {
    text-decoration: none;
    color: rgb(33, 37, 41);
}

.button {
    width: min-content;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
}

footer {
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: space-between;
    background-color: rgb(227, 242, 253);
    color: rgb(102, 109, 114);
    margin: auto -20px 0 -20px;
}

footer>div>p {
    font-size: 60%;
    margin: 5px 10px;
    padding-top: 5px;
}

footer>div:last-child>p {
    text-align: right;
}

footer>.button {
    font-size: 75%;
    margin: 15px;
}

a#back {
    border-color: red;
    color: red;
}

#next,
#previous,
#add {
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    color: white;
}

a#next {
    margin-left: auto;
}

a#previous {
    margin-right: auto;
}

#add {
    margin-right: 15px;
    margin-left: auto;
}

.circle {
    font-size: 115%;
    padding: 5px 10px;
    background-color: rgb(13, 110, 253);
    border: 2px solid rgb(13, 110, 253);
    color: white;
    border-radius: 50%;
    height: min-content;
    width: 20px;
    text-align: center;
    margin-top: -30px;
    margin-left: 60px;
}

.circle:visited {
    color: white;
}

.amount {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}

tr.currency td:first-child {
    width: 100%;
    padding: 0;
}

.payement_info {
    display: flex;
    justify-content: space-between;
}

a:visited {
    text-decoration: none;
    color: rgb(33, 37, 41);
}

a:hover {
    color: rgb(90, 167, 235);
}

header {
    position: sticky;
    top: 0;
    padding: 20px 10px;
    margin: 0 -20px;
    display: flex;
    justify-content: center;
}

header>p {
    font-weight: bold;
    font-size: 85%;
    text-align: center;
}

header>* {
    width: max-content;
    margin: auto;
    padding: 10px;
}

.t1 {
    background-color: rgb(13, 110, 253);
    color: white;
}

.t2 {
    background-color: rgb(227, 242, 253);
    color: rgb(102, 109, 114);
}

table {
    border: 2px solid rgb(223, 223, 223);
    border-radius: 10px;
    border-spacing: 0;
    width: 100%;
    margin: 10px 0 40px 0;
}

td>p {
    margin: 5px 10px;
    font-size: 85%;
}

td>p:last-child {
    font-size: 70%;
}

td {
    border-bottom: 2px solid rgb(223, 223, 223);
    border-collapse: collapse;
    padding: 20px;
}

tr:last-child td {
    border-bottom: none;
}

td.right {
    text-align: right;
}

form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(227, 227, 227);
    width: 80%;
    border-radius: 10px;
    padding: 25px;
}

.connect {
    margin: 35% auto 0 auto;
}

.connect2 {
    margin: 22% auto 0 auto;
}

.formtitle {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(227, 227, 227);
    margin-bottom: 25px;
}

form>* {
    width: 100%;
    margin-top: 10px;
}

th.empty {
    font-weight: 550;
    padding: 10px 0;
    border-bottom: 2px solid rgb(227, 227, 227);
    background-color: rgb(247, 247, 247);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

td.empty {
    text-align: center;
    padding-bottom: 30px;
}

td.empty>p {
    padding-top: 20px;
    padding-bottom: 30px;
}

td.empty>a {
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    color: white;
}

p.balance {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

tr.balance {
    width: 100%;
    display: flex;
}

a#balance,
.manage:visited {
    background-color: rgb(60, 179, 113);
    width: 100%;
    border-color: rgb(60, 179, 113);
    color: white;
}

table.balance {
    border: none;
    border-collapse: separate;
    border-spacing: 0 20px;
    margin: 10px 0 0 0;
}

td.balance {
    width: 50%;
    margin-right: 0;
    border-bottom: none;
    padding: 0;
}

td.negative {
    display: flex;
    justify-content: right;
}

td.positive {
    display: flex;
    justify-content: left;
}

p.positive,
p.negative,
p.left,
p.right {
    padding: 10px 0;
}

p.negative,
p.positive {
    white-space: nowrap;
    vertical-align: middle;
}

p.positive {
    background-color: rgb(60, 179, 113);
    padding-left: 10px;
    margin-left: 0px;
}

p.right {
    text-align: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

p.negative {
    background-color: rgb(255, 99, 71);
    padding-right: 10px;
    margin-right: 0px;
}

p.left {
    text-align: right;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

p.left:not(.negative) {
    padding-right: 10px;
}


p.inner {
    position: absolute;
    margin: 10px;
    font-size: 70%;
    padding: 6px 0;
}

p.inner.left {
    padding-right: 10px;
}

.save {
    font-size: 90%;
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    color: white;
    padding: 10px;
}

.save:hover,
#add:hover,
.circle:hover,
td.subscriptor.input:hover>input,
#next:hover,
#previous:hover,
.login:hover,
td.empty .button:hover {
    background-color: white;
    color: rgb(13, 110, 253);
}

td.subscriptor.input:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

h3 {
    margin-bottom: 0;
    font-size: 90%;
}

.edit {
    border: none;
    font-size: 80%;
    margin-top: 10px;
    padding: 0;
    width: inherit;
}

.bottom2 {
    width: inherit;
    text-align: center;
    margin: 5px 0;
    font-size: 75%;
}

.delete2 {
    font-size: 100%;
}

.delete,
.delete:visited,
#back:hover {
    background-color: rgb(220, 53, 69);
    border-color: rgb(220, 53, 69);
    color: white;
}

.delete:hover,
td.empty>.btn_delete:hover {
    background-color: white;
    color: rgb(220, 53, 69);
}

.manage {
    background-color: rgb(60, 179, 113);
    border-color: rgb(60, 179, 113);
    color: white;
}

.manage:hover,
#balance:hover {
    background-color: white;
    color: rgb(60, 179, 113);
}

.subs {
    text-align: left;
    margin-bottom: 0;
}

table.subs td {
    font-size: 65%;
}

.link {
    position: sticky;
    padding: 0;
}

form.link {
    border: none;
}

tr.pop .pop {
    width: min-content;
    height: min-content;
    margin: 0;
}

tr.pop td {
    width: 90%;
}

input,
textarea {
    font-size: 75%;
    border-radius: 10px;
    padding: 2%;
    height: auto;
    width: 95%;
    border: 2px solid rgb(223, 223, 223);
}

.login {
    font-size: 75%;
    margin: 5% auto;
    margin-bottom: 0%;
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    color: white;
    width: 100%;
}

.join {
    font-size: 70%;
    text-align: center;
}

.bottom {
    font-size: 75%;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    width: 95%;
}

form>h3 {
    font-size: large;
    font-weight: lighter;
    margin-top: 2%;
}

.errorMessage {
    color: rgb(220, 53, 69);
    font-size: 50%;
    margin-bottom: 1%;
    font-weight: bold;
}

.confirm_delete {
    margin: 50% auto;
}

td.empty>.btn_cancel {
    background-color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
}

td.empty>.btn_cancel:hover {
    background-color: white;
    color: rgb(108, 117, 125);
}

td.empty>.btn_delete {
    background-color: rgb(220, 53, 69);
    border-color: rgb(220, 53, 69);
    color: white;
}

td.empty>.text_confirm,
.text_confirm_title {
    color: rgb(220, 53, 69);
}

td.empty>.text_confirm_title {
    font-size: 150%;
}

.errorInput {
    border: 2px solid rgb(220, 53, 69);
    ;
}

td.subscriptor {
    padding: 0;
    height: min-content;
    font-size: 130%;
}

td.subscriptor.input {
    background-color: rgb(13, 110, 253);
    border: 2px solid rgb(13, 110, 253);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 150%;
    padding: 5px 15px;
}

td.subscriptor>input {
    border: none;
    background: none;
    color: white;
}

select#subscriptor {
    border: none;
    font-size: 65%;
    padding: 0.5em 35% 0.5em 1em;
    /* padding-left: 1em; */
}

form#subscriptor>table {
    margin-bottom: 2%;
}

tr.currency input,
tr.currency input:focus {
    border: none;
    outline: none;
}

tr.currency {
    border: solid 2px rgb(223, 223, 223);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 100%;
}

tr.currency>td {
    padding: 10px;
}

tr.currency .right {
    background-color: rgb(233, 236, 239);
    border-left: 2px solid rgb(233, 233, 223);
    font-size: 90%;
    text-align: center;
    vertical-align: middle;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

table#currency {
    margin-bottom: 0;
}

.edit2 {
    border: 2px solid rgb(223, 223, 223);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 15px;
}

.listyle {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 85%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

table.whom {
    width: 100%;
    margin-bottom: 10px;
}

table.whom tr {
    display: flex;
    margin-top: 0;
}

table.whom td {
    padding: 2%;
}

td.check {
    border-right: 2px solid rgb(223, 223, 223);
    background-color: rgb(233, 236, 239);
    width: 8%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td.user, #td_amount {
    border-right: 2px solid rgb(223, 223, 223);
    background-color: rgb(233, 236, 239);
    font-size: 100%;
}

td.user {
    width: 60%;
}

table.whom td.weight {
    width: min-content;
    padding: 0;
}

td.weight input {
    border: none;
    margin-left: 15%;
    font-size: 100%;
    width: 70%;
}

td.weight p {
    font-size: 100%;
    color: rgb(117, 120, 123);
    padding: 0;
    margin: 10% 10px 0 10px;
}

td.weight div {
    color: rgb(117, 120, 123);
    font-weight: lighter;
    margin: 0 10px 0 10px;
}

td.template {
    border-right: 2px solid rgb(223, 223, 223);
    background-color: rgb(233, 236, 239);
    width: 35%;
}

.contains_input {
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contains_input>input {
    padding-left: 13%;
}

.fa-trash-can {
    color: rgb(220, 53, 69);
}

p#confirm_title {
    padding-bottom: 0;
}

.x {
    color: rgb(220, 53, 69);
    background: none;
    font-weight: bolder;
    border: none;
    font-size: 200%;
}

p.inner.left.bold,
p.right.bold,
p.left.bold,
p.inner.bold {
    font-weight: bold;
}

select-selected:after {
    content: "";
    position: absolute;
    top: 14px;
    right: 10px;
}

#template_title {
    border: none;
}

.fa-dragon {
    margin-bottom: 18px;
}

.fa-flip-horizontal {
    position: absolute;
    right: 10;
}

#paid_by {
    margin-bottom: 0;
}

textarea {
    resize: vertical;
}

#sort {
    border : none;
    width : 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80%;
}