.main
{
    height: 100vh;
    aspect-ratio: 9/16;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 37, 41);
    position: relative;
}

body
{
    background-color: rgb(171, 206, 236);
    margin: 0;
    font-size: 200%;
}

a
{
    text-decoration: none;
    color: rgb(33, 37, 41);
}

a.button
{
    width : min-content;
    padding: 5px;
    border: 3px solid;
    border-radius: 10px;
}

footer
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(227, 242, 253);
    width: 100%;
}

footer > p
{
    font-size: 60%;
    margin: 5px 10px;
}

footer > p:nth-child(2)
{
    text-align: right;
}

a#back
{
    border-color: red;
    color: red;
}

a#next
{
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    color: white;
    margin-right: 15px;
    margin-left: auto;
}

a#previous
{
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    color: white;
    margin-left: 15px;
    margin-right: auto;
}

a#add
{
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    color: white;
    margin-right: 15px;
    margin-left: auto;
}

.amount
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}

.payement_info
{
    display: flex;
    justify-content: space-between;
}

a:visited
{
    text-decoration: none;
    color: rgb(33, 37, 41);
}

a:hover
{
    color: rgb(90, 167, 235);
}

.title
{
    position: relative;
    padding: 20px 10px;
    font-weight: bold;
    margin: 0 -20px;
}

#t1
{
    background-color: rgb(13, 110, 253);
    color: white;
}

#t2
{
    background-color: rgb(227, 242, 253);
    color: rgb(102, 109, 114);
}

ul
{
    border: 3px solid rgb(225, 225, 225);
    border-radius: 10px;
}

li
{
    list-style: none;
    border-bottom: 3px solid rgb(225, 225, 225);
}

li:last-child
{
    border-bottom: none;
}

form
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50%;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(227, 227, 227);
    width: fit-content;
    margin: 50% auto;
    border-radius: 10px;
    padding: 25px;
}

.formtitle
{
   padding-bottom: 25px;
   display: flex;
   justify-content: center;
   border-bottom: 2px solid rgb(227, 227, 227);
   margin-bottom: 25px;
}

form > *
{
    width: 100%;
    align-content: center;
    margin-top: 10px;
}