.main
{
    height: 100vh;
    aspect-ratio: 9/16;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 37, 41);
    position: relative;
}

body
{
    background-color: rgb(171, 206, 236);
    margin: 0;
    font-size: 200%;
}

a
{
    text-decoration: none;
    color: rgb(33, 37, 41);
}

a.button
{
    width : min-content;
    padding: 10px;
    border: 3px solid;
    border-radius: 10px;
}

footer
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(227, 242, 253);
    width: 100%;
    color: rgb(102, 109, 114);
}

footer > div > p
{
    font-size: 60%;
    margin: 5px 10px;
    padding-top: 5px;
}

footer > div:nth-child(2) > p
{
    text-align: right;
}

footer > .button
{
    font-size: 75%;
    margin: 15px;
}

a#back
{
    border-color: red;
    color: red;
}

a#next
{
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    color: white;
    margin-left: auto;

}

a#previous
{
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    color: white;
    margin-right: auto;
}

a#add
{
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    color: white;
    margin-right: 15px;
    margin-left: auto;
}

a.circle
{
    font-size: 115%;
    padding: 5px 10px;
    background-color: rgb(13, 110, 253);
    border: 3px solid rgb(13, 110, 253);
    color: white;
    border-radius: 50%;
    height: min-content;
    width: 30px;
    text-align: center;
    margin-top: -30px;
}

a.circle:visited
{
    color: white;
}

.amount
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}

.payement_info
{
    display: flex;
    justify-content: space-between;
}

a:visited
{
    text-decoration: none;
    color: rgb(33, 37, 41);
}

a:hover
{
    color: rgb(90, 167, 235);
}

header
{
    position: relative;
    padding: 20px 10px;
    margin: 0 -20px;
    display: flex;
    justify-content: center;
}

header > #back
{
    position: absolute;
    left: 15px;
}

header > #add
{
    position: absolute;
    right: 15px;
}

header > p
{
    font-weight: bold;
}

header > *
{
    width: max-content;
    margin: auto;
    padding: 10px;
}

.t1
{
    background-color: rgb(13, 110, 253);
    color: white;
}

.t2
{
    background-color: rgb(227, 242, 253);
    color: rgb(102, 109, 114);
}

table
{
    border: 3px solid rgb(223, 223, 223);
    border-bottom: none;
    border-radius: 10px;
    border-spacing: 0;
    width: 100%;
    margin: 40px 0;
}

td > p
{
    margin: 5px 10px;
    font-size: 85%;
}

td > p:last-child
{
    font-size: 70%;
}

td
{
    border-bottom: 3px solid rgb(223, 223, 223);
    border-collapse: collapse;
    padding: 20px;
    
}

td:last-child
{
    text-align: right;
}

form
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50%;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(227, 227, 227);
    width: fit-content;
    margin: 50% auto;
    border-radius: 10px;
    padding: 25px;
}

.formtitle
{
   padding-bottom: 25px;
   display: flex;
   justify-content: center;
   border-bottom: 2px solid rgb(227, 227, 227);
   margin-bottom: 25px;
}

form > *
{
    width: 100%;
    align-content: center;
    margin-top: 10px;
}